extends /_layouts/_main

block vars
	-var page = 'compare';
	-var title = 'Compare fonts';

block styles
	//- link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800')

block content
	.row.header
		h2.col.c6 Primary font
		h2.col.c6 Secondary font
	h3 Glyphs
	#glyphs-test
		each val, index in font_weight
			div(class=val)
				h4=val
				.row
					.primary-font.col.c6
						.content
							p
								= lang.glyphs.alphabet.uppercase
								br
								= lang.glyphs.alphabet.lowercase
								br
								= lang.glyphs.alphabet.mixed
								br
								= lang.glyphs.numbers
								= ' ' + lang.glyphs.symbols
					.secondary-font.col.c6
						.content
							p
								= lang.glyphs.alphabet.uppercase
								br
								= lang.glyphs.alphabet.lowercase
								br
								= lang.glyphs.alphabet.mixed
								br
								= lang.glyphs.numbers
								= ' ' + lang.glyphs.symbols
	h3 Font Size
	#fontSize-test
		each val, index in font_weight
			div(class=val)
				h4=val
				.row
					.primary-font.col.c6
						.content
							p(style='font-size: 36px')
								= lang.pangrams[0]
							p(style='font-size: 30px')
								= lang.pangrams[0]
							p(style='font-size: 24px')
								= lang.pangrams[0]
							p(style='font-size: 21px')
								= lang.pangrams[0]
							p(style='font-size: 20px')
								= lang.pangrams[0]
							p(style='font-size: 19px')
								= lang.pangrams[0]
							p(style='font-size: 18px')
								= lang.pangrams[0]
							p(style='font-size: 17px')
								= lang.pangrams[0]
							p(style='font-size: 16px')
								= lang.pangrams[0]
							p(style='font-size: 15px')
								= lang.pangrams[0]
							p(style='font-size: 14px')
								= lang.pangrams[0]
							p(style='font-size: 13px')
								= lang.pangrams[0]
							p(style='font-size: 12px')
								= lang.pangrams[0]
							p(style='font-size: 11px')
								= lang.pangrams[0]
							p(style='font-size: 10px')
								= lang.pangrams[0]
							p(style='font-size: 9px')
								= lang.pangrams[0]
					.secondary-font.col.c6
						.content
							p(style='font-size: 36px')
								= lang.pangrams[0]
							p(style='font-size: 30px')
								= lang.pangrams[0]
							p(style='font-size: 24px')
								= lang.pangrams[0]
							p(style='font-size: 21px')
								= lang.pangrams[0]
							p(style='font-size: 20px')
								= lang.pangrams[0]
							p(style='font-size: 19px')
								= lang.pangrams[0]
							p(style='font-size: 18px')
								= lang.pangrams[0]
							p(style='font-size: 17px')
								= lang.pangrams[0]
							p(style='font-size: 16px')
								= lang.pangrams[0]
							p(style='font-size: 15px')
								= lang.pangrams[0]
							p(style='font-size: 14px')
								= lang.pangrams[0]
							p(style='font-size: 13px')
								= lang.pangrams[0]
							p(style='font-size: 12px')
								= lang.pangrams[0]
							p(style='font-size: 11px')
								= lang.pangrams[0]
							p(style='font-size: 10px')
								= lang.pangrams[0]
							p(style='font-size: 9px')
								= lang.pangrams[0]
	h3 Color
	#color-test
		each val, index in font_weight
			div(class=val)
				h4=val
				.row
					.primary-font.col.c6
						.content
							p(style='color:#000')
								= lang.pangrams[1]
							p(style='color:#333')
								= lang.pangrams[1]
							p(style='color:#666')
								= lang.pangrams[1]
							p(style='color:#999')
								= lang.pangrams[1]
							p(style='color:#CCC')
								= lang.pangrams[1]
					.secondary-font.col.c6
						.content
							p(style='color:#000')
								= lang.pangrams[1]
							p(style='color:#333')
								= lang.pangrams[1]
							p(style='color:#666')
								= lang.pangrams[1]
							p(style='color:#999')
								= lang.pangrams[1]
							p(style='color:#CCC')
								= lang.pangrams[1]
				.row(style='background-color:#000')
					.primary-font.col.c6
						.content
							p(style='color:#FFF')
								= lang.pangrams[1]
							p(style='color:#CCC')
								= lang.pangrams[1]
							p(style='color:#999')
								= lang.pangrams[1]
							p(style='color:#666')
								= lang.pangrams[1]
							p(style='color:#333')
								= lang.pangrams[1]
					.secondary-font.col.c6
						.content
							p(style='color:#FFF')
								= lang.pangrams[1]
							p(style='color:#CCC')
								= lang.pangrams[1]
							p(style='color:#999')
								= lang.pangrams[1]
							p(style='color:#666')
								= lang.pangrams[1]
							p(style='color:#333')
								= lang.pangrams[1]		
	h3 Line height
	#lineHeight-test
		each val, index in font_weight
			div(class=val)
				h4=val
				.row
					.primary-font.col.c6
						.content
							p(style='line-height:1ch') 
								= lang.words[0]
							p(style='line-height:1ex') 
								= lang.words[0]
							p(style='line-height:1') 
								= lang.words[0]
							p(style='line-height:1.5')
								= lang.words[0]
							p(style='line-height:2')
								= lang.words[0]	
					.secondary-font.col.c6
						.content
							p(style='line-height:1ch') 
								= lang.words[0]
							p(style='line-height:1ex') 
								= lang.words[0]
							p(style='line-height:1') 
								= lang.words[0]
							p(style='line-height:1.5')
								= lang.words[0]
							p(style='line-height:2')
								= lang.words[0]
	h3 Style
	#style-test
		each val, index in font_weight
			div(class=val)
				h4=val
				.row
					.primary-font.col.c6
						.content
							p(style='text-decoration: underline') 
								= lang.pangrams[2]
							p(style='letter-spacing: -1px')
								= lang.pangrams[2]
							p(style='letter-spacing: 1px')
								= lang.pangrams[2]
							p(style='-moz-text-shadow: 0px 1px 1px #aaa;\
							-webkit-text-shadow: 0px 1px 1px #aaa;\
							text-shadow: 0px 1px 1px #aaa')
								= lang.pangrams[2]
					.secondary-font.col.c6
						.content
							p(style='text-decoration: underline') 
								= lang.pangrams[2]
							p(style='letter-spacing: -1px')
								= lang.pangrams[2]
							p(style='letter-spacing: 1px')
								= lang.pangrams[2]
							p(style='-moz-text-shadow: 0px 1px 1px #aaa;\
							-webkit-text-shadow: 0px 1px 1px #aaa;\
							text-shadow: 0px 1px 1px #aaa')
								= lang.pangrams[2]
	h3 Similarity
	#similarity-test
		each val, index in font_weight
			div(class=val)
				h4=val
				.row
					.primary-font
						.content
							p
								= lang.glyphs.alphabet.mixed
								br
								= lang.glyphs.numbers
								= ' ' + lang.glyphs.symbols
					.secondary-font
						.content
							p
								= lang.glyphs.alphabet.mixed
								br
								= lang.glyphs.numbers
								= ' ' + lang.glyphs.symbols